<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation du mot de passe</title>
</head>
<body>
    <p>Bonjour,</p>

    <p>Cliquez sur le lien suivant pour réinitialiser votre mot de passe :</p>

    <p><a href="{{ resetLink }}">{{ resetLink }}</a></p>

    <p>Ce lien est valable pendant 1 heure.</p>
</body>
</html>
