{% extends 'base.html.twig' %}

{% block title %}Payment Failed{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title text-danger">
                            <i class="fas fa-times-circle"></i> Payment Failed
                        </h1>
                        <p class="card-text">We're sorry, but your payment could not be processed. Please try again or contact support if the problem persists.</p>
                        <a href="{{ path('app_home') }}" class="btn btn-primary">Return to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 